{% extends 'main.html' %}
{% block content %}
{% load static %}

<!-- Created by Arantxa Cajas Lincango -->

{% include 'appOne/sidebar.html'%}

<link rel="stylesheet" href="{%  static 'css/about.css' %}">

<div class="container">
    <h1>About Us</h1>  <br> <br>

    <div class="row">
        <div class="column">
            <h2>Arantxa Cajas</h2>
            <p>My name is Arantxa C, and i am curently pursuing a Bachelor of Computer
            Science at the university of Westminster. My intrests are broad within the realm
            of Technology, with a particular passion for design amoung other areas. At present,
            my primary focus is on developing my design skills, which i have been actively exploring
            through various projects and coursework at the university. </p>

    </div>

    <div class="column">
        <h2>Ali Shahid </h2>
            <p>My name is Alli S, and i am curently pursuing a Bachelor of Computer
                Science at the university of Westminster. My intrests are broad within the realm
                of Technology, with a particular passion for design amoung other areas. At present,
                my primary focus is on developing my design skills, which i have been actively exploring
                through various projects and coursework at the university</p>

    </div>


    <div class="column">
        <h2>Sharo Saleh</h2>
            <p>My name is Sharo S, and i am curently pursuing a Bachelor of Computer
                Science at the university of Westminster. My intrests are broad within the realm
                of Technology, with a particular passion for design amoung other areas. At present,
                my primary focus is on developing my design skills, which i have been actively exploring
                through various projects and coursework at the university</p>

    </div>


    <div class="column">
        <h2>Mahathir Saad Islam </h2>
            <p>My name is Saad I, and i am curently pursuing a Bachelor of Computer
                Science at the university of Westminster. My intrests are broad within the realm
                of Technology, with a particular passion for design amoung other areas. At present,
                my primary focus is on developing my design skills, which i have been actively exploring
                through various projects and coursework at the university</p>

    </div>


    <div class="column">
        <h2>Leandro Felix</h2>
            <p>My name is Leandro F, and i am curently pursuing a Bachelor of Computer
                Science at the university of Westminster. My intrests are broad within the realm
                of Technology, with a particular passion for design amoung other areas. At present,
                my primary focus is on developing my design skills, which i have been actively exploring
                through various projects and coursework at the university</p>

    </div>


    <div class="column">
        <h2>Johan Chowdhury</h2>
            <p>My name is Johan C, and i am curently pursuing a Bachelor of Computer
                Science at the university of Westminster. My intrests are broad within the realm
                of Technology, with a particular passion for design amoung other areas. At present,
                my primary focus is on developing my design skills, which i have been actively exploring
                through various projects and coursework at the university</p>

    </div>


    > </div>



</div>



























{% endblock content%}
