{% extends 'main.html' %}
{% block content %}
{% load static %}

<!-- Created by Leandro Felix and support by Johan Ahmed Chowdhury-->

{% include 'appOne/sidebar.html' %}
<link rel="stylesheet" href="{% static 'css/add_user.css' %}?v=1.1">

<div class="container">
    <h1>Add New User</h1>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>
    </div>
</div>
{% if messages %}
<div class="container">
    <div class="alert alert-success mt-3" role="alert">
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
</div>
</div>
{% endif %}
{% endblock %}
