{% extends 'main.html' %}
{% block content %}
{% load static %}
<!-- Created by Arantxa Cajas Lincango -->

{% include 'appOne/sidebar.html'%}

<link rel="stylesheet" href="{%  static 'css/help.css' %}">


<div>

    <h1>Help & Support</h1>
    <div class="container">



        <div class="faq">
            <h2>Frequently Asked Questions (FAQs)</h2>
            <p><strong>Question 1:</strong> How can I reserve equipment?</p>
            <p2><strong>Answer:</strong>After logging in, navigate to the Equipment Lists'
            section, select the equipment you wish to reserve, and click on 'Reserve'. Fill in the
            reservation details, including the start and end dates, and sumbit your request. You will
            be notified once your reservation is approved.</p2> <br> <br>

            <p3><strong>Question 2:</strong> How can I reserve equipment?</p3> <br> <br>
            <p4><strong>Answer:</strong>After logging in, navigate to the Equipment Lists'
                section, select the equipment you wish to reserve, and click on 'Reserve'. Fill in the
                reservation details, including the start and end dates, and sumbit your request. You will
                be notified once your reservation is approved.</p4>



        </div>

        <p5 class="click-here">Still need help? <a href="#">Click here</a></p5> <br>

        <p6> OR </p6> <br>

        <p7> Contact us on : </p6> <br>

        <p8>Email: jhmes@yahoo.it</p6> <br>
        <p9>Phone: 02046783647</p7>



    </div>









</div>



{% endblock content%}
