.main-container {
  display: flex;
  padding-top: 160px;
  justify-content: center;
}




.content-area {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.account-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 8px;
  padding-top: 120px;

}


@media screen and (max-width: 768px) {
  .content-area {
    padding: 20px;
  }

  .account-container {
    margin: 20px;
    width: auto;
    max-width: none;
    padding-top: 120px;
  }
}
